<extend name="Public/base"/>
<block name="active">
	<li class="active">财付通充值</li>
</block>
<block name="page-content">
	<div class="page-header">
		<h1>
			财付通充值
			<small> <i class="icon-double-angle-right"></i>
				财付通充值
			</small>
		</h1>
	</div>
	<!-- /.page-header -->
	<div class="row">

<div class="col-sm-12">

<table id="sample-table-1" class="table table-striped table-bordered table-hover"  style="font-size: 12px;">
<thead>
	<tr>
		<th class="center" style="width:20px;">ID</th>
		<th width="80">用户</th>
		<th width="100">财付通帐号</th>
		<th width="110">充值金额RMB</th>
		<th width="85">添加时间</th>
		<th>备注</th>
		<th width="85">操作</th>
	</tr>
</thead>

<tbody>
	<volist name="list" id="v">
		<tr>
			<td class="center">{$v.id}</td>
			<td>{$v.uname}</td>
			<td>{$v.zhanghao}</td>
			<td>{$v.zhifuamount}</td>
			<td>{$v.addtime|date="Y-m-d",###}</td>
			<td>{$v.remark}</td>
			<td class="action-buttons">
				<eq name="v.status" value="1">
					已充值
					<else />
					<eq name="v.status" value="2">
						充值失败
						<else />
				<a class="blue" href="javascript:;" sid="{$v.id}" id="chongzhi" title="确认已充值">
					<i class="icon-check bigger-130"></i>
				</a>
				<a class="red weidaozhang" href="javascript:;" sid="{$v.id}" onclick="return false;" title="充值失败">
					<i class="icon-ban-circle bigger-130"></i>
				</a>
				</eq>
				</eq>

			</td>
		</tr>
	</volist>
</tbody>
</table>
<div class="page">{$_page}</div>
</div>
</div>

</block>
<block name="jiazaijs">
<script src="__JS__/bootbox.min.js"></script>
<script src="__JS__/jquery.gritter.min.js"></script>
<script src="__JS__/jquery.validate.min.js"></script>
<script src="__JS__/date-time/bootstrap-datepicker.min.js"></script>
<script src="__JS__/jquery.dataTables.min.js"></script>
<script src="__JS__/jquery.dataTables.bootstrap.js"></script>
<script src="__JS__/chosen.jquery.min.js"></script>
</block>
<block name="script">

<script type="text/javascript">

jQuery(function($){
	$(".chosen-select").chosen(); 
				$('#ruku-table').on('shown.bs.modal', function () {
					$(this).find('.chosen-container').each(function(){
						$(this).find('a:first-child').css('width' , '210px');
						$(this).find('.chosen-drop').css('width' , '210px');
						$(this).find('.chosen-search input').css('width' , '200px');
					});
				})
	$('.weidaozhang').click(function(){
					var id=$(this).attr('sid');
					bootbox.confirm("确定未充值成功么？确定后会退回用户已支付余额", function(result){
						if(result) {
							$.post("{:U('weichongzhi')}",{'id':id,'ajax':1},function(data){
								if (data.status) {
									$.gritter.add({
										// (string | mandatory) the heading of the notification
										title: '提交成功',
										// (string | mandatory) the text inside the notification
										text: data.info,
										class_name: 'gritter-success gritter-light'
									});
									setTimeout('location.reload()',1000);
								}else{
									$.gritter.add({
										title: '提交失败',
										text: data.info,
										class_name: 'gritter-error gritter-light'
									});
								};
							},'json');
						}
					})
					
				})
	$('#chongzhi').click(function(){
					var id=$(this).attr('sid');
					bootbox.confirm("确定已充值成功么?", function(result){
						if(result) {
							$.post("{:U('zhifubaoyichongzhi')}",{'id':id,'ajax':1},function(data){
								if (data.status) {
									$.gritter.add({
										// (string | mandatory) the heading of the notification
										title: '提交成功',
										// (string | mandatory) the text inside the notification
										text: data.info,
										class_name: 'gritter-success gritter-light'
									});
									setTimeout(jumpu(data.url),1000);
								}else{
									$.gritter.add({
										title: '提交失败',
										text: data.info,
										class_name: 'gritter-error gritter-light'
									});
								};
							},'json');
						}
					})
					
				})
	})
		$("form#validation-form").submit(function(){

    		var self = $(this);
    		$.post(self.attr("action"), self.serialize(), success, "json");

    		return false;

    		function success(data){

    			if(data.status){
    				$.gritter.add({
										// (string | mandatory) the heading of the notification
										title: '提交成功',
										// (string | mandatory) the text inside the notification
										text: data.info,
										class_name: 'gritter-success gritter-light'
									});
									setTimeout(jumpu(data.url),1000);

    			} else {

    				$.gritter.add({
										// (string | mandatory) the heading of the notification
										title: '提交失败',
										// (string | mandatory) the text inside the notification
										text: data.info,
										class_name: 'gritter-success gritter-light'
									});

    			}

    		}

    	});
    	function jumpu(uri){
    		window.location.href=uri;
    	}
														</script>
</block>