<extend name="Public/base"/>
<block name="active">
	<li class="active">商城管理</li>
</block>

<block name="page-content">
	<div class="page-header">
		<h1>
			商城管理
			<small> <i class="icon-double-angle-right"></i>
				商城列表
			</small>
		</h1>
	</div>
	<!-- /.page-header -->

	<div class="row">
<div class="col-xs-12">
<a href="{:U('Post/goodlistadd')}" class="btn btn-success btn-sm btn-next no-border">添加商城</a>
<div class="space-4"></div>
<table id="sample-table-1" class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th class="center" style="width:30px;">ID</th>
			<th>商城名称</th>
			<th>所属分类</th>
			<th>商城星级</th>
			<th>是否启用</th>
			<th>排序</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<volist name="list" id="v">
			<tr>
				<td class="center">{$v.id}</td>

				<td>{$v.title}</td>
				<td><a href="{:U('Post/goodlist','fid='.$v['fid'])}">{$v.cate.title}</a></td>
				<td>{$v.start}&nbsp;星</td>
				<td>{$v.state|getstatus}</td>
				<td>{$v.sort}</td>
				<td class="action-buttons">
					<a class="blue" href="{:U('Post/goodlistadd','id='.$v['id'])}"> <i class="icon-pencil bigger-130"></i>
					</a>
					<a class="red goodlistdel" href="###" sid="{$v.id}" onclick="return false;"> <i class="icon-trash bigger-130"></i>
					</a>

				</td>
			</tr>
		</volist>
	</tbody>
</table>
<div class="page">{$_page}</div>
</div>
</div>

</block>
<block name="jiazaijs">
	<script src="__JS__/bootbox.min.js"></script>
<script src="__JS__/jquery.gritter.min.js"></script>
<script src="__JS__/jquery.validate.min.js"></script>
<script src="__JS__/jquery.dataTables.min.js"></script>
<script src="__JS__/jquery.dataTables.bootstrap.js"></script>
</block>
<block name="script">

<script type="text/javascript">


jQuery(function($){
	$('.goodlistdel').click(function(){
					var id=$(this).attr('sid');
					bootbox.confirm("确定要删除该文章么?", function(result){
						if(result) {
							$.post("{:U('goodlistdel')}",{'id':id,'ajax':1},function(data){
								if (data.status) {
									$.gritter.add({
										// (string | mandatory) the heading of the notification
										title: '提交成功',
										// (string | mandatory) the text inside the notification
										text: data.info,
										class_name: 'gritter-success gritter-light'
									});
									setTimeout(jumpu(data.url),1000);
								}else{
									$.gritter.add({
										title: '提交失败',
										text: data.info,
										class_name: 'gritter-error gritter-light'
									});
								};
							},'json');
						}
					})
					
				})
	})

    	function jumpu(uri){
    		window.location.href=uri;
    	}
</script>
</block>