<extend name="Public/base"/>
<block name="active">
	<li class="active">商城管理</li>
</block>
<block name="page-content">
	<div class="page-header">
		<h1>
			商城管理
			<small> <i class="icon-double-angle-right"></i>
				添加商城
			</small>
		</h1>
	</div>
	<!-- /.page-header -->
	<div class="row">
		<div class="col-sm-12">
			<form <if condition="$info">
				action="{:U('goodlistedit')}"
				<else/>
				action="{:U('goodlistsave')}"
			</if>
			class="form-horizontal" id="validation-form" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="title">商城标题:</label>

				<div class="col-xs-12 col-sm-10">
					<div class="clearfix">
						<input type="text" name="title" id="title" class="col-xs-12 col-sm-6" value="{$info.title}" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="url">链接地址:</label>

				<div class="col-xs-12 col-sm-9">
					<div class="clearfix">
						<input type="text" name="url" id="url" class="col-xs-12 col-sm-6" value="{$info.url}" placeholder="点击图片显示的网址" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="start">商城星级:</label>

				<div class="col-xs-12 col-sm-9">
					<div class="clearfix">
						<input type="text" name="start" id="start" class="col-xs-12 col-sm-6" value="{$info.start}" placeholder="1-5的数字" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="status">是否启用:</label>

				<div class="col-xs-12 col-sm-10">
					<div class="clearfix">
						<label class="blue">
							<input type="radio" name="state"  class="ace" value="1" <eq name="info.state" value="1"> checked</eq> <if condition="$info eq ''">checked</if> />
							<span class="lbl">启用</span>
						</label>
						 <label class="blue">
							<input type="radio" name="state"  class="ace" value="0" <eq name="info.state" value="0"> checked</eq>/>
							<span class="lbl">禁用</span>
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="sort">排序:</label>

				<div class="col-xs-12 col-sm-10">
					<div class="clearfix">
						<input type="text" name="sort" id="sort" class="col-xs-12 col-sm-6" <if condition="$info eq ''">value="10"<else /> value="{$info.sort}"</if> />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="cid">所属分类:</label>

				<div class="col-xs-12 col-sm-10">
					<div class="clearfix">
						<select name="cid" class="input-medium" id="cid">
							<option value="0">选择分类</option>
							<volist name="catelist" id="c">
								<option value="{$c.id}" <eq name="c.id" value="$info.fid">selected</eq>>{$c.title}</option>
							</volist>
						</select>
					</div>
				</div>
			</div>
			<if condition="$info">
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="uri">已上传图片:</label>
				<div class="col-xs-12 col-sm-9">
					<div class="clearfix">
						<img src="{$info.pic}">
					</div>
				</div>
			</div>
			</if>
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="pic">商城Logo:</label>

				<div class="col-xs-12 col-sm-9">
					<div class="clearfix">
						<input type="file" name="filepic" id="pic" class="col-xs-12 col-sm-6" />(180*90)
					</div>
				</div>
			</div>
		<div class="form-group">
				
			<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="content">商城介绍:</label>

			<div class="col-xs-12 col-sm-10">
				<div class="clearfix">
					<textarea class="col-sm-10" name="content" style="height: 250px;" id="content">{$info.content}</textarea>
				</div>
			</div>
		</div>
<div class="form-group">
	<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="title">&nbsp;</label>

	<div class="col-xs-12 col-sm-10">
		<div class="clearfix">
			<if condition="$info">
				<input type="hidden" name="id" value="{$info.id}">
				<input type="hidden" name="pic" value="{$info.pic}">
				<button type="submit" class="btn btn-success btn-next no-border">确认编辑</button><a href="{:U('goodlist')}" class="btn btn-light btn-next no-border">取消</a>
				<else/>
				<button type="submit" class="btn btn-success btn-next no-border">确认添加</button><a href="{:U('goodlist')}" class="btn btn-light btn-next no-border">取消</a>
			</if>
		</div>
	</div>
</div>

</form>
</div>
</div>

</block>
<block name="jiazaijs">
	<script src="__JS__/bootbox.min.js"></script>
<script src="__JS__/jquery.gritter.min.js"></script>
<script src="__JS__/jquery.validate.min.js"></script>
<script src="__JS__/jquery.dataTables.min.js"></script>
<script src="__JS__/jquery.dataTables.bootstrap.js"></script>

</block>
<block name="script">

<script type="text/javascript">

jQuery(function($){
		$.getScript('__COMMONJS__/kindeditor/kindeditor-min.js', function() {
						KindEditor.basePath = '__COMMONJS__/kindeditor/';
						KindEditor.create('textarea[name="content"]',{
							allowFileManager : false,
          resizeType : 1,
          allowPreviewEmoticons : false,
          allowImageUpload : true,
          items : [
            'source','|','fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline','strikethrough','lineheight',
            'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
            'insertunorderedlist', '|', 'emoticons', 'image', 'link'],
           afterBlur: function(){this.sync();},
        
						});
					});

	})
    	function jumpu(uri){
    		window.location.href=uri;
    	}
	</script>
</block>