<include file="Public:header" />
<div class="middle">
  <div class="column1200">
    <p class="global_pic mg_T10"><img src="__IMG__/global.jpg" width="1200" height="355" /></p>
    <div class="advantage mg_T10">
      <h3>{:L('women')}<span style="color:#CF0000;">{:L('youshi')}</span></h3>
      <ul class="advantage_list mg_T10">
        <li><img src="__IMG__/global_pic01.jpg" alt="国际快递-多重渠道"/><span><b>{:L('guojikuaidi')}</b><br />
          <div style="clear:both;"></div>
          {:L('kuaixiang')}</span></li>
        <li><img src="__IMG__/global_pic02.jpg" alt="运费折扣-免服务费"/><span><b>{:L('zhekou')}</b><br /><div style="clear:both;"></div>
          {:L('zhexiang')}</span></li>
        <li><img src="__IMG__/global_pic03.jpg" alt="代收发货-及时快速"/><span><b>{:L('daishou')}</b><br /><div style="clear:both;"></div>
          {:L('daixiang')}</span></li>
        <li><img src="__IMG__/global_pic04.jpg" alt="实时跟踪-全程监督"/><span><b>{:L('genzong')}</b><br /><div style="clear:both;"></div>
          {:L('genxiang')}</span></li>
      </ul>
    </div>
    <div class="process mg_T10">
      <h3>{:L('guojizhuanyun')}<span style="color:#CF0000;">{:L('liucheng')}</span></h3>
      <ul class="process_list mg_T10">
        <li><span><b style="padding-top:100px;">{:L('sbinfo')}</b>{:L('zxtj')}<br />
          {:L('pishangchun')}</span></li>
        <li><span><b>{:L('fasongbaoguo')}</b>{:L('tongkuaidi')}<br />
          {:L('fawang')}</span></li>
        <li><span><b style="padding-top:100px;">{:L('szshouhuo')}</b>{:L('shouhuohou')}<br />
          {:L('cunku')}</span></li>
        <li><span><b>{:L('tjjs')}</b>{:L('xianghou')}<br />
          {:L('guojipei')}</span></li>
        <li><span><b style="padding-top:100px;">{:L('qrshouhuo')}</b>{:L(jhaiwai)}<br />
          {:L('manyi')}</span></li>
      </ul>
      <div class="process_btn"><a href="{:U('Cate/zyyanshi')}"><img src="__IMG__/process_btn.jpg" width="192" height="50" alt="代运操作演示"/></a></div>
    </div>
    <div class="process mg_T10">
      <h3>{:L('shou')}<span style="color:#CF0000;">{:L('biaozhun')}</span></h3>
      <dl class="freight_example">
          <!-- <dt>{:L('guojiyunfei')}&nbsp;&nbsp;<span style="color:#999;">+</span>&nbsp;&nbsp;{:L(fuwufei)}&nbsp;&nbsp;<span style="color:#999;">+</span>&nbsp;&nbsp;{:L('caozuofei')}&nbsp;&nbsp;<span style="color:#999;">+</span>&nbsp;&nbsp;{:L('baoguanfei')}&nbsp;&nbsp;<span style="color:#999;">=</span>&nbsp;&nbsp;{:L(zongfei)}</dt> -->
          <dd><img src="__IMG__/freight_pic.jpg" width="1100" height="215" /></dd>
      </dl>
      <div class="process_btn"><a href="{:U('Cate/gusuan')}"><img src="__IMG__/freight_btn.jpg" width="192" height="50" alt="费用估算"/></a></div>
    </div>
    <!-- <div class="problem mg_T10">
      <h3>常见<span style="color:#CF0000;">问题</span></h3>
      <volist name="ant" id="at">
      <dl class="problem_list">
          <dt>{$at.title}</dt>
          <dd>{$at.content}</dd>
      </dl>
      </volist>
    </div> -->
  </div>
</div>
<include file="Public:footer" />