<include file="Public:header" />
<div class="middle" style="padding:20px 0;">
  <div class="column1200">

       <div class="hdflash f_list">
        <h1>转运流程演示</h1>
  <div class="flashlist">
    <div class="f_out">
      <a href="#" target="_blank">
        <img src="__IMG__/demo2-01.jpg" width="1000" height="500" />
      </a>
    </div>
    <div class="f_out">
      <a href="#" target="_blank">
        <img src="__IMG__/demo2-02.jpg"  width="1000" height="500" />
      </a>
    </div>
    <div class="f_out">
      <a href="#" target="_blank">
        <img src="__IMG__/demo2-03.jpg"  width="1000" height="500" />
      </a>
    </div>
    <div class="f_out">
      <a href="#" target="_blank">
        <img src="__IMG__/demo2-04.jpg"  width="1000" height="500" />
      </a>
    </div>
     <div class="f_out">
      <a href="#" target="_blank">
        <img src="__IMG__/demo2-05.jpg"  width="1000" height="500" />
      </a>
    </div>
     <div class="f_out">
      <a href="#" target="_blank">
        <img src="__IMG__/demo2-06.jpg"  width="1000" height="500" />
      </a>
    </div>
     <div class="f_out">
      <a href="#" target="_blank">
        <img src="__IMG__/demo2-07.jpg"  width="1000" height="500" />
      </a>
    </div>
     <div class="f_out">
      <a href="#" target="_blank">
        <img src="__IMG__/demo2-08.jpg"  width="1000" height="500" />
      </a>
    </div>
  </div>
  <div class="flash_tab">
    <div class="tabs f_tabs" style="width:300px;">
      <ul>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="转运流程第一步">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="转运流程第二步">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="转运流程第三步">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="转运流程第四步">
          </a>
        </li>
         <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="转运流程第五步">
          </a>
        </li>
         <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="转运流程第六步">
          </a>
        </li>
         <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="转运流程第七步">
          </a>
        </li>
         <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="转运流程第八步">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <script type="text/javascript">
    FeatureList(".f_list", {
      "onclass": "noopdiv",
      "offclass": "opdiv",
      "pause_on_act": "mouseover",
      "interval": 5000,
      "speed": 1
    });
  </script>
</div>
    
  </div>
</div>

<include file="Public:footer" />