<include file="Public:header" />
<div class="blank"></div>
<div class="middle">
  <div class="column1200">
    <p class="position" >{:L('your_position')}：<a href="/">{:L('site_index')}</a>&nbsp;>&nbsp;<a href="#">{:L('chicun')}</a></p>
    <div class="nav">
      <div class="nav_left">
        <ul>
          <li><a href="#nvzhuang">女装（外衣、裙装、恤衫、上装、套装）</a></li>
          <li><a href="#wenxiong">女士文胸</a></li>
          <li><a href="#neiyi">女士内衣</a></li>
          <li><a href="#nvxie">女 鞋</a></li>
        </ul>
        <ul>
          <li><a href="#nanzhuang">男装（外衣、恤衫、套装）</a></li>
          <li><a href="#kuzhang">男士裤装</a></li>
          <li><a href="#chenshan">男士衬衫</a></li>
          <li><a href="#neiku">男士内裤</a></li>
          <li><a href="#nanxie">男 鞋</a></li>
        </ul>
      </div>
      <div class="nav_right"> <a href="#duliangcheng">度量衡换算</a> </div>
    </div>
    <div class="center mg_T10">
      <div class="box_01 mg_T10">
        <div class="lm">
          <h2 id="nvzhuang"> 女装<span>（外衣、裙装、恤衫、上装、套装）</span></h2>
        </div>
        <div class="chima">
          <div class="c_pic"> <img src="http://sf.panli.com/FrontEnd/images20090801/Tools/MeasureConversion/skirt.gif"
                                title="女装" /> </div>
          <table>
            <tr>
              <th> 标准 </th>
              <th colspan="5"> 尺 码 明 细 </th>
            </tr>
            <tr class="hui">
              <td><b>中国</b>(cm) </td>
              <td> 160-165 / 84-86 </td>
              <td> 165-170 / 88-90 </td>
              <td> 167-172 / 92-96 </td>
              <td> 168-173 / 98-102 </td>
              <td> 170-176 / 106-110 </td>
            </tr>
            <tr>
              <td><strong>国 际</strong></td>
              <td> XS </td>
              <td> S </td>
              <td> M </td>
              <td> L </td>
              <td> XL </td>
            </tr>
            <tr class="hui">
              <td><strong>美 国</strong></td>
              <td> 2 </td>
              <td> 4-6 </td>
              <td> 8-10 </td>
              <td> 12-14 </td>
              <td> 16-18 </td>
            </tr>
            <tr>
              <td><strong>欧 洲</strong></td>
              <td> 34 </td>
              <td> 34-36 </td>
              <td> 38-40 </td>
              <td> 42 </td>
              <td> 44 </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="box_01 b2">
        <div class="lm">
          <h2 id="wenxiong"> 女士文胸</h2>
          <a href="#">TOP</a> </div>
        <div class="chima">
          <table>
            <tr>
              <th> 标准 </th>
              <th colspan="14"> 下 胸 围 尺 码 明 细 </th>
            </tr>
            <tr class="hui">
              <td><b>中国 </b>(cm) </td>
              <td> 76.2 </td>
              <td> 81.3 </td>
              <td> 86.4 </td>
              <td> 91.5 </td>
              <td> 96.5 </td>
              <td> 101.6 </td>
              <td> 106.7 </td>
              <td> 112 </td>
              <td> 117 </td>
              <td> 122 </td>
              <td> 127 </td>
              <td> 132 </td>
              <td> 137 </td>
              <td> 142&gt; </td>
            </tr>
            <tr>
              <td><b>美 国</b></td>
              <td> 30 </td>
              <td> 32 </td>
              <td> 34 </td>
              <td> 36 </td>
              <td> 38 </td>
              <td> 40 </td>
              <td> 42 </td>
              <td> 44 </td>
              <td> 46 </td>
              <td> 48 </td>
              <td> 50 </td>
              <td> 52 </td>
              <td> 54 </td>
              <td> 56 </td>
            </tr>
            <tr class="hui">
              <td><b>英 国</b></td>
              <td> 30 </td>
              <td> 32 </td>
              <td> 34 </td>
              <td> 36 </td>
              <td> 38 </td>
              <td> 40 </td>
              <td> 42 </td>
              <td> 44 </td>
              <td> 46 </td>
              <td> 48 </td>
              <td> 50 </td>
              <td> 52 </td>
              <td> 54 </td>
              <td> 56 </td>
            </tr>
            <tr>
              <td><b>欧 洲</b></td>
              <td>&nbsp;</td>
              <td> 70 </td>
              <td> 75 </td>
              <td> 80 </td>
              <td> 85 </td>
              <td> 90 </td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr class="hui">
              <td><b>法 国</b></td>
              <td>&nbsp;</td>
              <td> 85 </td>
              <td> 90 </td>
              <td> 95 </td>
              <td> 100 </td>
              <td> 105 </td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><b>意大利</b></td>
              <td>&nbsp;</td>
              <td> 1 </td>
              <td> 2 </td>
              <td> 3 </td>
              <td> 4 </td>
              <td> 5 </td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="box_01 b2">
        <div class="chima">
          <table>
            <tr>
              <th> 标准 </th>
              <th colspan="14"> 罩 杯 尺 码 明 细 </th>
            </tr>
            <tr class="hui">
              <td><b>中国 </b>(cm) </td>
              <td> A </td>
              <td> B </td>
              <td> C </td>
              <td> D </td>
              <td> E </td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><b>美 国</b></td>
              <td> AA </td>
              <td> A </td>
              <td> B </td>
              <td> C </td>
              <td> D </td>
              <td> DD </td>
              <td> DDD/E </td>
              <td> F </td>
              <td> FF </td>
              <td> G </td>
              <td> GG </td>
              <td> H </td>
              <td> HH </td>
              <td> J </td>
            </tr>
            <tr class="hui">
              <td><b>英 国</b></td>
              <td> AA </td>
              <td> A </td>
              <td> B </td>
              <td> C </td>
              <td> D </td>
              <td> DD </td>
              <td> E </td>
              <td> F </td>
              <td> FF </td>
              <td> G </td>
              <td> GG </td>
              <td> H </td>
              <td> HH </td>
              <td> J </td>
            </tr>
            <tr>
              <td><b>欧 洲</b></td>
              <td> AA </td>
              <td> A </td>
              <td> B </td>
              <td> C </td>
              <td> D </td>
              <td> E </td>
              <td> F </td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr class="hui">
              <td><b>法 国</b></td>
              <td> AA </td>
              <td> A </td>
              <td> B </td>
              <td> C </td>
              <td> D </td>
              <td> E </td>
              <td> F </td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><b>意大利</b></td>
              <td>&nbsp;</td>
              <td> B </td>
              <td> B或none </td>
              <td> C </td>
              <td> D </td>
              <td> DD </td>
              <td> E </td>
              <td> F </td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="box_01 b3">
        <div class="lm">
          <h2 id="neiyi"> 女士内衣</h2>
          <a href="#">TOP</a> </div>
        <div class="chima">
          <div class="c_pic"> <img src="__IMG__/underclothes.gif"
                                title="女士内衣" /> </div>
          <table style="border-right: #CCC solid 1px;">
            <tr>
              <th> 标 准 </th>
              <th colspan="14"> 尺 码 明 细 </th>
            </tr>
            <tr class="hui">
              <td><b>中国 </b>(cm) </td>
              <td> S </td>
              <td> M </td>
              <td> L </td>
              <td> XL </td>
              <td> XXL </td>
              <td> XXXL </td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><b>国 际</b></td>
              <td> XS </td>
              <td> S </td>
              <td> M </td>
              <td> L </td>
              <td> XL </td>
              <td> XXL </td>
              <td> XXXL </td>
            </tr>
            <tr class="hui">
              <td><b>美 国</b></td>
              <td> 2 </td>
              <td> 4 </td>
              <td> 6 </td>
              <td> 8 </td>
              <td> 10 </td>
              <td> 12 </td>
              <td> 14 </td>
            </tr>
            <tr>
              <td><b>英 国</b></td>
              <td> 6 </td>
              <td> 8 </td>
              <td> 10 </td>
              <td> 12 </td>
              <td> 14 </td>
              <td> 16 </td>
              <td> 18 </td>
            </tr>
            <tr class="hui">
              <td><b>欧 洲</b></td>
              <td> 32 </td>
              <td> 34 </td>
              <td> 36 </td>
              <td> 38 </td>
              <td> 40 </td>
              <td> 42 </td>
              <td> 44 </td>
            </tr>
            <tr>
              <td><b>法 国</b></td>
              <td> 34 </td>
              <td> 36 </td>
              <td> 38 </td>
              <td> 40 </td>
              <td> 42 </td>
              <td> 44 </td>
              <td> 46 </td>
            </tr>
            <tr class="hui">
              <td><b>意大利</b></td>
              <td> 38 </td>
              <td> 40 </td>
              <td> 42 </td>
              <td> 44 </td>
              <td> 46 </td>
              <td> 48 </td>
              <td> 50 </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="box_01 b4">
        <div class="lm">
          <h2 id="nvxie"> 女鞋尺寸</h2>
          <a href="#">TOP</a> </div>
        <div class="chima">
          <div class="b_pic"> <img src="__IMG__/woman-shoes.gif"
                                title="女鞋" /> </div>
          <table style="border-right: #CCC solid 1px;">
            <tr>
              <th> 标 准 </th>
              <th colspan="14"> 尺 码 明 细 </th>
            </tr>
            <tr class="hui">
              <td><b>脚长</b>(cm) </td>
              <td> 22.5 </td>
              <td> 23 </td>
              <td> 23.5 </td>
              <td> 24 </td>
              <td> 24.5 </td>
              <td> 25 </td>
              <td> 25.5 </td>
              <td> 26 </td>
            </tr>
            <tr>
              <td><b>中 国</b></td>
              <td> 35 </td>
              <td> 36 </td>
              <td> 37 </td>
              <td> 38 </td>
              <td> 39 </td>
              <td> 39 </td>
              <td> 40 </td>
              <td> 40 </td>
            </tr>
            <tr class="hui">
              <td><b>美 国</b></td>
              <td> 5 </td>
              <td> 5.5 </td>
              <td> 6 </td>
              <td> 6.5 </td>
              <td> 7 </td>
              <td> 7.5 </td>
              <td> 8 </td>
              <td> 8.5 </td>
            </tr>
            <tr>
              <td><b>英 国</b></td>
              <td> 4 </td>
              <td> 4.5 </td>
              <td> 5 </td>
              <td> 5.5 </td>
              <td> 6 </td>
              <td> 6.5 </td>
              <td> 7 </td>
              <td> 7.5 </td>
            </tr>
            <tr class="hui">
              <td><b>欧 洲</b></td>
              <td> 35 </td>
              <td> 36 </td>
              <td> 37 </td>
              <td> 38 </td>
              <td> 39 </td>
              <td> 39 </td>
              <td> 40 </td>
              <td> 40 </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="box_01 b5">
        <div class="lm">
          <h3 id="nanzhuang"> 男装<span>（外衣、恤衫、套装）</span></h3>
          <a href="#">TOP</a> </div>
        <div class="chima">
          <div class="b_pic2"> <img src="__IMG__/t shirt.gif"
                                title="男装" /> </div>
          <table>
            <tr>
              <th> 标 准 </th>
              <th colspan="5"> 尺 码 明 细 </th>
            </tr>
            <tr class="hui">
              <td><b>中国 </b>(cm) </td>
              <td> 165 / 88-90 </td>
              <td> 170 / 96-98 </td>
              <td> 175 / 108-110 </td>
              <td> 180 / 118-122 </td>
              <td> 185 / 126-130 </td>
            </tr>
            <tr>
              <td><b>国 际</b></td>
              <td> S </td>
              <td> M </td>
              <td> L </td>
              <td> XL </td>
              <td> XXL </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="box_01 b7">
        <div class="lm">
          <h3 id="kuzhang"> 男士裤装</h3>
          <a href="#">TOP</a> </div>
        <div class="chima">
          <div class="b_pic2"> <img src="__IMG__/trousers.gif"
                                title="男士裤装" /> </div>
          <table>
            <tr>
              <th> 标 准 </th>
              <th colspan="5"> 尺 码 明 细 </th>
            </tr>
            <tr class="hui">
              <td><b>尺 码</b></td>
              <td> 42 </td>
              <td> 44 </td>
              <td> 46 </td>
              <td> 48 </td>
              <td> 50 </td>
            </tr>
            <tr>
              <td><b>腰 围</b></td>
              <td> 68 - 72 cm </td>
              <td> 71 - 76 cm </td>
              <td> 75 - 80 cm </td>
              <td> 79 - 84 cm </td>
              <td> 83 - 88 cm </td>
            </tr>
            <tr class="hui">
              <td><b>裤 度</b></td>
              <td> 99 cm </td>
              <td> 101.5 cm </td>
              <td> 104 cm </td>
              <td> 106.5 cm </td>
              <td> 109 cm </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="box_01 b8">
        <div class="lm">
          <h3 id="chenshan"> 男士衬衫</h3>
          <a href="#">TOP</a> </div>
        <div class="chima">
          <div class="b_pic2"> <img src="__IMG__/shirt.gif"
                                title="男士衬衫" /> </div>
          <table>
            <tr>
              <th> 标 准 </th>
              <th colspan="5"> 尺 码 明 细 </th>
            </tr>
            <tr class="hui">
              <td><b>中国 </b>(cm) </td>
              <td> 36 - 37 </td>
              <td> 38 - 39 </td>
              <td> 40 - 42 </td>
              <td> 43 - 44 </td>
              <td> 45 - 47 </td>
            </tr>
            <tr>
              <td><b>国 际</b></td>
              <td> S </td>
              <td> M </td>
              <td> L </td>
              <td> XL </td>
              <td> XXL </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="box_01 b9">
        <div class="lm">
          <h3 id="neiku"> 男士内裤</h3>
          <a href="#">TOP</a> </div>
        <div class="chima">
          <div class="b_pic2"> <img src="__IMG__/underwear.gif"
                                title="男士内裤" /> </div>
          <table>
            <tr>
              <th> 标 准 </th>
              <th colspan="5"> 尺 码 明 细 </th>
            </tr>
            <tr class="hui">
              <td><b>中国 </b>(cm) </td>
              <td> 72 - 76 </td>
              <td> 76 - 81 </td>
              <td> 81 - 87 </td>
              <td> 87 - 93 </td>
              <td> 93 - 98 </td>
            </tr>
            <tr>
              <td><b>国 际</b></td>
              <td> S </td>
              <td> M </td>
              <td> L </td>
              <td> XL </td>
              <td> XXL </td>
            </tr>
            <tr class="hui">
              <td><b>美国</b>(英寸) </td>
              <td> 28 - 30 </td>
              <td> 30 - 32 </td>
              <td> 32 - 34 </td>
              <td> 34 - 38 </td>
              <td> 38 - 42 </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="box_01 b1">
        <div class="lm">
          <h3 id="nanxie"> 男鞋</h3>
          <a href="#">TOP</a> </div>
        <div class="chima">
          <div class="b_pic2"> <img src="__IMG__/man-shoes.gif"
                                title="男鞋" /> </div>
          <table>
            <tr>
              <th> 标 准 </th>
              <th colspan="8"> 尺 码 明 细 </th>
            </tr>
            <tr class="hui">
              <td><b>脚长</b>(cm) </td>
              <td> 24.5 </td>
              <td> 25 </td>
              <td> 25.5 </td>
              <td> 26 </td>
              <td> 26.5 </td>
              <td> 27 </td>
              <td> 27.5 </td>
              <td> 28 </td>
            </tr>
            <tr>
              <td><b>中 国</b></td>
              <td> 39 </td>
              <td> 40 </td>
              <td> 41 </td>
              <td> 42 </td>
              <td> 43 </td>
              <td> 44 </td>
              <td> 45 </td>
              <td> 46 </td>
            </tr>
            <tr class="hui">
              <td><b>美 国</b></td>
              <td> 7 </td>
              <td> 7.5 </td>
              <td> 8 </td>
              <td> 8.5 </td>
              <td> 9 </td>
              <td> 9.5 </td>
              <td> 10 </td>
              <td> 10.5 </td>
            </tr>
            <tr>
              <td><b>英 国</b></td>
              <td> 6 </td>
              <td> 6.5 </td>
              <td> 7 </td>
              <td> 7.5 </td>
              <td> 8 </td>
              <td> 8.5 </td>
              <td> 9 </td>
              <td> 9.5 </td>
            </tr>
            <tr class="hui">
              <td><b>欧 洲</b></td>
              <td> 39 </td>
              <td> 40 </td>
              <td> 41 </td>
              <td> 42 </td>
              <td> 43 </td>
              <td> 44 </td>
              <td> 45 </td>
              <td> 46 </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="box_01 b6">
        <div class="lm">
          <h1 id="duliangcheng"> 中外度量衡换算表</h1>
          <a href="#">TOP</a> </div>
        <ul class="dlh">
          <li>
            <table>
              <tr>
                <th colspan="3"> 长 度 Length </th>
              </tr>
              <tr>
                <td colspan="2"><b>Imperial 英制 </b></td>
                <td><b>Metric 公制</b></td>
              </tr>
              <tr>
                <td> 1 inch [in] 英寸 </td>
                <td> ---------- </td>
                <td> 2.54 cm 厘米 </td>
              </tr>
              <tr>
                <td> 1 foot [ft] 英尺 </td>
                <td> 12 in 英寸 </td>
                <td> 0.3048 m 米 </td>
              </tr>
              <tr>
                <td> 1 yard [yd] 码 </td>
                <td> 3 foot 英尺 </td>
                <td> 0.9144 m 米 </td>
              </tr>
              <tr>
                <td> 1 mile 英里 </td>
                <td> 1760 yd 码 </td>
                <td> 1.6093 km 千米 </td>
              </tr>
              <tr>
                <td> 1 int nautical mile 海里 </td>
                <td> 2025.4 yd 码 </td>
                <td> 1.853 km 千米 </td>
              </tr>
            </table>
          </li>
          <li class="dlh_r">
            <table>
              <tr>
                <th colspan="3"> 面 积 Area </th>
              </tr>
              <tr>
                <td colspan="2"><b>Imperial 英制 </b></td>
                <td><b>Metric 公制</b></td>
              </tr>
              <tr>
                <td> 1 sq inch [in2] 平方英寸 </td>
                <td> ---------- </td>
                <td> 6.4516 cm2 平方厘米 </td>
              </tr>
              <tr>
                <td> 1 sq foot [ft2] 平方英尺 </td>
                <td> 144 in2 平方英寸 </td>
                <td> 0.0929 m2 平方米 </td>
              </tr>
              <tr>
                <td> 1 sq yd [yd2] 平方码 </td>
                <td> 9 ft2 平方英尺 </td>
                <td> 0.8361 m2 平方米 </td>
              </tr>
              <tr>
                <td> 1 acre 英亩 </td>
                <td> 4840 yd2 平方码 </td>
                <td> 4046.9 m2 平方米 </td>
              </tr>
              <tr>
                <td> 1 sq mile [mile2] 平方英 </td>
                <td> 640 acres 英亩 </td>
                <td> 2.59 km2 平方千米 </td>
              </tr>
            </table>
          </li>
          <li>
            <table>
              <tr>
                <th colspan="3"> 体 积 / 容 量 Volume/Capacity </th>
              </tr>
              <tr>
                <td colspan="2"><b>USA measure 美制</b></td>
                <td><b>Metric 公制</b></td>
              </tr>
              <tr>
                <td> 1 fluid ounce 液量盎司 </td>
                <td> 1.0408 UK fl oz 英制液量盎司 </td>
                <td> 29.574 ml 毫升 </td>
              </tr>
              <tr>
                <td> 1 pint (16 fl oz 液量品脱 ) 品脱 </td>
                <td> 0.8327 UK pt 英制品脱 </td>
                <td> 0.4731 l 升 </td>
              </tr>
              <tr>
                <td> 1 gallon 加仑 </td>
                <td> 0.8327 UK gal 英加仑 </td>
                <td> 3.7854 l 升 </td>
              </tr>
            </table>
          </li>
          <li class="dlh_r">
            <table>
              <tr>
                <th colspan="3"> 重 量 Weight </th>
              </tr>
              <tr>
                <td colspan="2"><b>Imperial 英制 </b></td>
                <td><b>Metric 公制</b></td>
              </tr>
              <tr>
                <td> 1 ounce [oz] 盎司 </td>
                <td> 437.5 grain 格令 </td>
                <td> 28.35 g 克 </td>
              </tr>
              <tr>
                <td> 1 pound [lb] 磅 </td>
                <td> 16 oz 盎司 </td>
                <td> 0.4536 kg 千克 </td>
              </tr>
              <tr>
                <td> 1 stone 口石 </td>
                <td> 14 lb. 磅 </td>
                <td> 6.3503 kg 千克 </td>
              </tr>
              <tr>
                <td> 1 hundredweight [cwt] 英担 </td>
                <td> 112 lb. 磅 </td>
                <td> 50.802 kg 千克 </td>
              </tr>
              <tr>
                <td> 1 long ton (UK) 长吨 </td>
                <td> 20 cwt 英担 </td>
                <td> 1.016 t 吨 </td>
              </tr>
            </table>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<include file="Public:footer" />