<extend name="default/Public/user"/>
<block name="user-right">
	<div class="user-right">
		<div class="user-head" style="height: 50px;">
			<h2>{:L('parcel_list')}</h2>
			<ul class="head-nav">
			<li><eq name="status" value=""><span>{:L('all')}</span><else /><a href="{:U('User/baoguolist')}">{:L('all')}</a></eq></li>
			<li><eq name="status" value="3"><span>{:L('pending_pay')}</span><else /><a href="{:U('User/baoguolist','status=3')}">{:L('pending_pay')}</a></eq></li>
			<li><eq name="status" value="4"><span>{:L('pending_shipped')}</span><else /><a href="{:U('User/baoguolist','status=4')}">{:L('pending_shipped')}</a></eq></li>
			<li><eq name="status" value="5"><span>{:L('pending_receipt')}</span><else /><a href="{:U('User/baoguolist','status=5')}">{:L('pending_receipt')}</a></eq></li>
			<li><eq name="status" value="6"><span>{:L('has_receipt')}</span><else /><a href="{:U('User/baoguolist','status=6')}">{:L('has_receipt')}</a></eq></li>
			<li><eq name="status" value="9"><span>{:L('withholding')}</span><else /><a href="{:U('User/baoguolist','status=9')}">{:L('withholding')}</a></eq></li>
		</ul>
		<div style="position: absolute;bottom: -1px;left: 30px;width: 200px;height: 29px;">
			<form action="{:U('User/baoguolist','status='.$_GET['status'])}" method="get">
			<input type="text" name="keywords" value="<?php echo $_GET['keywords'] ?>" style="width: 100px;margin-top: 2px;padding: 2px;" placeholder=""> <input type="submit" value="{:L('search')}" style="border: none;background: red;color:#fff;height: 22px;padding: 0 10px;">
			</form>
		</div>
		</div>
		<div style="padding:10px;">
			<table class="yubao-add yubao-list" cellpadding="0" cellspacing="0" style="line-height: 25px;">
				<tr>
					<th width="95">{:L('waybill_num')}</th>
					<th width="80">{:L('shipping_method')}</th>
					<th width="80">{:L('belong_order')}</th>
					<th>{:L('long')}cm</th>
					<th>{:L('wide')}cm</th>
					<th>{:L('high')}cm</th>
					<th>{:L('index_volume')}</th>
					<th>{:L('weight')}kg</th>
					<th>{:L('freight')}{:C('MAIN_COIN')}</th>
					<th>{:L('remark')}</th>
					<th>{:L('status')}</th>
				</tr>
				<volist name="list" id="v">
				<tr>
					<td><a href="{:U('Index/tracking','kdsn='.$v['bgsn'])}" style="color:red;">{$v.bgsn}</a></td>
					<td>{$v.delivery.dname}</td>
					<td><a href="{:U('User/dingdanview','id='.$v['ydid'])}" style="color:blue;">{$v.dingdan.sn}</a></td>
					<td>{$v.chang}</td>
					<td>{$v.kuan}</td>
					<td>{$v.gao}</td>
					<td>{$v.voweight}</td>
					<td>{$v.weight}</td>
					<td>{$v.freight}</td>
					<td>{$v.remark}</td>
					<td>{$v.status|getyundanstatus}<eq name="v.status" value="3"><br><a href="{:U('User/paydingdan','id='.$v['dingdan']['id'])}" style="display:inline-block;background: red;color: #fff;padding: 2px 2px;">{:L('go_payment')}</a></eq><eq name="v.status" value="5"><eq name="v.secpay" value="1"><br><a href="javascript:shouhuo({$v.id});" style="display:inline-block;background: red;color: #fff;padding: 2px 2px;margin-bottom: 2px;">{:L('confirm_receipt')}</a></eq></eq></td>
				</tr>
			</volist>
			</table>
			<div class="page">{$_page}</div>
		</div>
	</div>
	<script type="text/javascript">
		function shouhuo(id){
			$.post("{:U('baoguoshouhuo')}",{'id':id},function(data){
				if (data.status) {
					$.thinkbox.success(data.info);
					setTimeout(jumpurl(data.url),1000);
				}else{
					$.thinkbox.error(data.info);
				};
			})
		}
	</script>
</block>