<extend name="default/Public/user"/>
<block name="user-right">
<div class="user-right">
	<div class="user-head">
		<h2 style="display:inline-block;">{:L('daiyun_order')}</h2>
	</div>
	<style type="text/css">
		.addedcell{position: relative;}
		.addedcell .delcell{position: absolute;top: 1px;right: 0;display: block;background: red;color: #fff;padding: 2px 10px;height: 16px;line-height: 16px;}
		.listcell{position: relative;}
		.listcell .dellistcell{position: absolute;top: 1px;right: 0;display: block;background: red;color: #fff;padding: 2px 10px;height: 16px;line-height: 16px;}
		#addresslist{display: none;position: relative;}
		
	</style>
	<form method="post" action="{:U('User/ybcartinsert')}" id="ybcartadd">
		<table class="yubao-add" cellpadding="0" cellspacing="0" style="line-height: 20px;border: none;" id="yubaoinput">
			<tr>
				<th width="120">{:L('ex_name')}</th>
				<th width="120">{:L('ex_num')}</th>
				<th width="250">{:L('baoguo_name')}</th>
				<th width="100">{:L('jiazhi')}(RMB)</th>
				<th width="80">{:L('baoguo_leixing')}</th>
				<th width="75">{:L('unpacking')}</th>
				<!-- <th width="80">商业险</th> -->
				<th>{:L('remark')}</th>
			</tr>

			<tr>
				<td>
					<input type="text" name="kdname[]"></td>
				<td>
					<input type="text" name="kdsn[]"></td>
				<td>
					<input type="text" name="bgname[]"></td>
				<td>
					<input type="text" name="shenbao[]"></td>
				<td>
					<select name="bgleixing[]">
						<option value="0">{:L('common_goods')}</option>
						<option value="1">{:L('sensitive_goods')}</option>
					</select>
				</td>
				<td>
					<select name="chaibao[]">
						<option value="0" selected>{:L('no_unpacking')}</option>
						<option value="1" >{:L('hexiang')}</option>
					</select>
				</td>
                <!-- <td>
					<input type="radio" name="baoxian[]" value="1">是&nbsp;<input type="radio" name="baoxian[]" value="0" checked>否</td> -->
				<td>
					<input type="text" name="remark[]"></td>
			</tr>

		</table>
		<div class="blank"></div>
		<div style="width: 200px;text-align: center;margin: 0 auto; margin-top:18px; height:38px;">
			<a href="###" class="btnqx addonecell">{:L('add_cell')}</a>
			<a href="###" class="btnqd ybcartinbtn">{:L('insert_order')}</a>
		</div>
	</form>
				<div class="blank"></div>
				<div class="fengenav">{:L('order_info')}</div>
				<div style="padding: 20px;">
					<form action="{:U('User/yubaoinsert')}" method="post">
					<table class="yubao-add" cellpadding="0" cellspacing="0" style="line-height: 20px;">
						<tr>
							<th width="120">{:L('ex_name')}</th>
							<th width="120">{:L('ex_num')}</th>
							<th width="200">{:L('baoguo_name')}</th>
							<th width="100">{:L('jiazhi')}(RMB)</th>
							<th width="80">{:L('baoguo_leixing')}</th>
							<th width="75">{:L('unpacking')}</th>
							<th width="50">{:L('daoda')}</th>
							<th>{:L('remark')}</th>
						</tr>
						<if condition="$ybcart">
							<volist name="ybcart" id="v">
								<tr>
									<td>
										<input type="text" name="kdname" class="listkdname" value="{$v.kdname}" placeholder="{:L('ex_name')}"></td>
									<td>
										<input type="text" name="kdsn" class="listkdsn" value="{$v.kdsn}" placeholder="{:L('ex_num')}"></td>
									<td>
										<input type="text" name="bgname" class="listbgname" value="{$v.bgname}" placeholder="{:L('baoguo_name')}"></td>
									<td>
										<input type="text" name="shenbao" class="listshenbao" value="{$v.shenbao}" placeholder="{:L('jiazhi')}(USD)"></td>
									<td>
										<select name="bgleixing" class="listbgleixing">
											<option value="0" <eq name="v.bgleixing" value="0">selected</eq>
											>{:L('common_goods')}
										</option>
										<option value="1" <eq name="v.bgleixing" value="1">selected</eq>
										>{:L('sensitive_goods')}
									</option>
								</select>
							</td>
							<td>
								<select name="chaibao" class="listchaibao">
									<option value="0"  <eq name="v.chaibao" value="0">selected</eq>
									>{:L('no_unpacking')}
								</option>
								<option value="1" <eq name="v.chaibao" value="1">selected</eq>
								>{:L('hexiang')}
							</option>
						</select>
					</td>
					<td><eq name="v.daoda" value="1">{:L('daoda')}</eq><eq name="v.daoda" value="0">{:L('weidaoda')}</eq></td>
					<td class="listcell">
						<input type="text" name="remark" class="listremark" value="{$v.remark}" placeholder="{:L('remark')}">					
						<a href="###" class="dellistcell">{:L('delete')}</a>
					</td>
					<input type="hidden" name="id" value="{$v.id}" class="listid"></tr>
					</volist>
					<else />					
					<tr>
					<td colspan="8" style="padding:5px;text-align: center;">{:L('no_infos')}</td>
					</tr>
					</if>

					</table>
				<div class="blank"></div>
				
				<table class="yubao-add" cellpadding="0" cellspacing="0" style="line-height: 20px;">
					<tr>
						<th>{:L('delivery_address')}</th>
						<th>{:L('shipping_method')}</th>
					</tr>
					<tr>
						<td style="padding:10px;width: 50%;">
							<div id="defaddress">
								<if condition="$address">
								<div style="margin-bottom: 10px;">
									{:L('consignee')}：{$address.consignee} &nbsp;&nbsp;{:L('telphone')}：{$address.tel}<br>
									{:L('country')}：{$address.areaname} <br>
									{:L('address')}：{$address.address} ({$address.zipcode}) <br>
								</div>
							</if><input type="hidden" name="addressid" id="addressinputid" value="{$address.id}">
								<a href="###" id="newaddress" style="color:red;">{:L('check')}{:L('delivery_address')}</a>
							</div>
							<div id="addresslist">
								<ul>
									<volist name="addresslist" id="v">
										<li style="padding: 5px 0;border-bottom: 1px dashed #dfdfdf;">
											<span style="float: left;display:block;width: 25px;padding: 10px 0;">
												<input type="radio" name="id" value="{$v.id}" class="addressid" <eq name="v.def" value="1">checked</eq>
											>
										</span>
										<span style="float: left;display: block;width: 395px;">
											{$v.consignee} ({$v.tel})&nbsp;{$v.areaname} &nbsp; {$v.address} ({$v.zipcode})
										</span>
										<div class="clear"></div>
									</li>
								</volist>
							</ul>
							<div class="blank"></div>
							<a href="###" class="btnqx addnewaddress">{:L('new_address')}</a>
							<a href="###" class="btnqd querenaddress">{:L('confirm_select')}</a>
							<div class="address-form">

								<input type="text" name="consignee"  placeholder="{:L('consignee')}">							
								<div class="blank"></div>
								<input type="text" name="tel"  placeholder="{:L('mobile')}">							
								<div class="blank"></div>
								<select name="areaid" style="width:100%;">
									<option value="0">{:L('select_country')}</option>
									<volist name="state" id="v">
										<option value="{$v.id}">{$v.name}</option>
									</volist>
								</select>
								<div class="blank"></div>
								<textarea name="address" placeholder="{:L('city_street')}" style="width: 96%;padding: 2%;"></textarea>
								<div class="blank"></div>
								<input type="text" name="zipcode" placeholder="{:L('zipcode')}">							
								<div class="blank"></div>
								<div style="">
									<button type="button" class="btnqx quxiaoaddaddress">{:L('cancel')}</button>
									<button type="button" class="btnqd querenaddaddress">{:L('confirm_address')}</button>
								</div>

							</div>
							</div>
						</td>
						<td style="padding:10px 20px;width: 50%;">
							<if condition="$delivery">
								<volist name="delivery" id="d">
									<div><input type="radio" name="deliveryid" value="{$d.id}" checked > &nbsp;{$d.dname}</div>
								</volist>
								<else />
								{:L('select_address_first')}
							</if>
						</td>
					</tr>
					<tr><td colspan="2" style="padding:10px;"> <!-- <b style="color:red;">{:L('all_jiazhi')}：<span id="allshenbao">0.00</span> USD（{:L('all_jiazhi_remark')}）</b><br> --><input type="radio" value="0" checked  name="isxian">&nbsp;不要商业保险&nbsp;<input type="radio" value="1" name="isxian" >&nbsp;要商业保险</td></tr>
					<tr>
						<td colspan="2" style="padding: 10px;"><span style="float:left; font-size:16px;">{:L('remark')}:</span><textarea name="remark" style="width: 90%;height: 50px;float: left;padding: 5px;font-size:14px;" id="dingdanremark" placeholder="此模式仅限于账户余额充足且要求包裹入库后即刻下单的客户！"></textarea></td>
					</tr>
				</table>
				<div class="blank" style="margin-top:10px;"></div>
				<div style="width: 400px;float: right;"><button type="button" class="btnqd tijiaodingdan">{:L('submit_order')}</button></div>
				<div class="blank"></div>
				</form>
			</div>
			<div class="blank"></div>
			<div class="hdflash2 f_list">
        <h1>下单流程演示</h1>
  <div class="flashlist">
    <div class="f_out">
      <a href="#" target="_blank">
        <img src="__IMG__/Demo3-01.jpg" width="1000" height="500" />
      </a>
    </div>
    <div class="f_out">
      <a href="#" target="_blank">
        <img src="__IMG__/Demo3-02.jpg"  width="1000" height="500" />
      </a>
    </div>
    <div class="f_out">
      <a href="#" target="_blank">
        <img src="__IMG__/Demo3-03.jpg"  width="1000" height="500" />
      </a>
    </div>
    <div class="f_out">
      <a href="#" target="_blank">
        <img src="__IMG__/Demo3-04.jpg"  width="1000" height="500" />
      </a>
    </div>
     <div class="f_out">
      <a href="#" target="_blank">
        <img src="__IMG__/Demo3-05.jpg"  width="1000" height="500" />
      </a>
    </div>
  </div>
  <div class="flash_tab">
    <div class="tabs f_tabs" style="width:200px;">
      <ul>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="下单流程第一步">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="下单流程第二步">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="下单流程第三步">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="下单流程第四步">
          </a>
        </li>
         <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="下单流程第五步">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <script type="text/javascript">
    FeatureList(".f_list", {
      "onclass": "noopdiv",
      "offclass": "opdiv",
      "pause_on_act": "mouseover",
      "interval": 5000,
      "speed": 1
    });
  </script>
</div>

</div>
<script type="text/javascript">
	$(function(){
		var allshenbao=0;
		$('.listshenbao').each(function(){
			allshenbao+= parseFloat($(this).val());
		});
		allshenbao=allshenbao.toFixed(2);
		$('#allshenbao').html(allshenbao);
		$('.tijiaodingdan').click(function(){
			var addressid=$('#addressinputid').val();
			var deliveryid=$('input[name="deliveryid"]:checked').val();
			var remark=$('#dingdanremark').val();
			var isxian=$('input[name="isxian"]:checked').val();
			$.post("{:U('User/yubaoinsert')}",{'addressid':addressid,'deliveryid':deliveryid,'remark':remark,'isxian':isxian},function(data){
				if (data.status) {
					alert('订单提交成功，请至订单列表查看包裹最新状态及支付国际运费');
					setTimeout(jumpurl(data.url),1000);
				}else{
					$.thinkbox.error(data.info);
				};
			});
		})
		$('.listkdname,.listkdsn,.listbgname,.listshenbao,.listbgleixing,.listchaibao,.listremark').change(function(){
			var id=$(this).parent().parent().find('.listid').val();
			var field=$(this).attr('name');
			var value=$(this).val();
			var item=$(this);
			$.post("{:U('User/yubaocartedit')}",{'id':id,'field':field,'value':value},function(data,item){
				if (data.status) {
					var allshenbao1=0;
					$('.listshenbao').each(function(){
						allshenbao1+= parseFloat($(this).val());
					});
					allshenbao1=allshenbao1.toFixed(2);
					$('#allshenbao').html(allshenbao1);
				}else{
					result=data.info;
					$('.listid').each(function(){
						if (result.data.id==$(this).val()) {
							$(this).parent().find('.list'+result.field).val(result['data'][result.field]).focus();
						};
					})
					$.thinkbox.error(result.info);
				};
			})
		})
		$('.dellistcell').click(function(){
			var id=$(this).parent().parent().find('.listid').val();
			$.post("{:U('User/yubaocartdel')}",{'id':id},function(data){
				if (data.status) {
					$('.listid').each(function(){
						if (data.info==$(this).val()) {
							$(this).parent().remove();
						};
					})
				}else{
					$.thinkbox.error(data.info);
				};
			});
		})
		$('#newaddress').click(function(){
			$(this).parent().hide();
			$(this).parent().next().show();
		})
		$('.querenaddress').click(function(){
			var id=$('.addressid:checked').val();
			$.post("{:U('User/changeaddress')}",{'id':id},function(data){
				if (data.status) {
					$.thinkbox.success(data.info);
					setTimeout('location.reload()',700);
				};
			})
		})
		$('.addnewaddress').click(function(){
			$(this).parent().find('.address-form').show();
		})
		$('.quxiaoaddaddress').click(function(){
			$(this).parents('.address-form').hide();
		})
		$('.querenaddaddress').click(function(){
			var consignee=$(this).parents('.address-form').find('input[name="consignee"]').val();
			var tel=$(this).parents('.address-form').find('input[name="tel"]').val();
			var areaid=$(this).parents('.address-form').find('select[name="areaid"]').val();
			var address=$(this).parents('.address-form').find('textarea[name="address"]').val();
			var zipcode=$(this).parents('.address-form').find('input[name="zipcode"]').val();
			$.post("{:U('User/addressadd')}",{'consignee':consignee,'tel':tel,'areaid':areaid,'address':address,'zipcode':zipcode},function(data){
				if (data.status) {
						$.thinkbox.success(data.info);
						setTimeout('location.reload()',700);
					}else{
						$.thinkbox.error(data.info);
					};
			})
		})
		$('.ybcartinbtn').click(function(){
			$('#ybcartadd').submit();
		})
		$('.addonecell').click(function(){
			var html='<tr><td><input type="text" name="kdname[]"></td><td><input type="text" name="kdsn[]"></td><td><input type="text" name="bgname[]"></td><td><input type="text" name="shenbao[]"></td><td><select name="bgleixing[]"><option value="0">{:L(\'common_goods\')}</option><option value="1">{:L(\'sensitive_goods\')}</option></select></td><td><select name="chaibao[]"><option value="0" selected>{:L(\'no_unpacking\')}</option><option value="1">{:L(\'hexiang\')}</option></select></td><td  class="addedcell"><input type="text" name="remark[]"><a href="###" class="delcell">{:L(\'delete\')}</a></td></tr>';
			$('#yubaoinput').append(html);
		})
		$(document).on('click','.delcell',function(){
			$(this).parents('tr').remove();
		})
		$('.address-del').click(function(){
			var id=$(this).attr('did');
			$.post("{:U('User/addressdel')}",{'id':id},delsuccess);
			return false;
			function delsuccess(data){
				if (data.status) {
					$.thinkbox.success(data.info);
					setTimeout(jumpurl(data.url),1500);
				}else{
					$.thinkbox.error(data.info);
				};
			}
		})
		$('form').submit(function(){
			var self = $(this);
				$.post(self.attr("action"), self.serialize(), success, "json");
				return false;
				function success(data){
					if (data.status) {
						$.thinkbox.success(data.info);
						setTimeout(jumpurl(data.url),1500);
					}else{
						$.thinkbox.error(data.info);
					};
				}
		})
	})
</script>
</block>